{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <center style="height: 150px; padding-top: 30px">
        <h1>SlimURL URL Shortener</h1>
        <a href="/create/"><button type="button" class="btn btn-secondary">Create New URL</button></a>
    </center>
</div>

<div class="jumbotron">
    <center style="height: 70px">
        <h3>Checkout My Other Projects!</h3>
        <h3><a href="https://github.com/Japasche" <button type="button" class="btn btn-info">Here</a></h3>
    </center>
</div>
{% endblock content %}